.genre_cat_card {
  box-sizing: border-box;
  max-width: 180px;
  height: 180px;
  border-radius: 20px;
}
.active {
  border: 5px solid #11b800;
}

.genre_cat_card:hover {
  cursor: pointer;
}
.genre_title {
  font-family: DM Sans;
  font-size: 27px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 15px 10px;
}
.genre_insidecat_card {
  box-sizing: border-box;
  width: 170px;
  height: 106px;
  border-radius: 11px;
  /* margin-left: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
}
.genre_insidecat_card img {
  width: 166px;
  height: 100px;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .genre_cat_card {
    max-width: 150px;
    height: 150px;
    border-radius: 12px;
  }
  .genre_title {
    font-size: 20px;
    margin: 5px 10px;
  }
  .genre_insidecat_card {
    width: 138px;
    height: 80px;
    margin-left: 3px;
    padding-bottom: 0px;
  }
  .active {
    border: 4px solid #11b800;
  }
  .genre_insidecat_card img {
    width: 138px;
    height: 80px;
  }
}
